<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Домашняя страница библиотеки</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
      body {
          font-family: 'Montserrat', sans-serif;
      }
  </style>
</head>
<body class="flex flex-col items-center justify-center min-h-screen bg-gradient-to-r from-purple-500 via-blue-500 to-green-500 p-8 relative">

<div class="text-center">
  <h1 class="text-6xl font-extrabold text-purple-700 mb-6 drop-shadow-lg">Добро пожаловать в библиотеку!</h1>
  <p class="mb-6 text-green-400 text-xl">Исследуйте мир литературы и знаний.</p>
</div>

<a href="/register" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-md transition duration-300">Регистрация</a>

</body>
</html>