<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <h1 class="text-2xl font-bold mb-6">Взятые книги</h1>

  <div class="w-full max-w-md">
    <table class="min-w-full bg-white border border-gray-300">
      <thead>
      <tr class="bg-gray-200">
        <th class="py-2 px-4 border-b">Название книги</th>
        <th class="py-2 px-4 border-b">Дата взятия</th>
      </tr>
      </thead>
      <tbody>
      <% @borrowed_books.each do |book| %>
        <tr class="hover:bg-gray-100">
          <td class="py-2 px-4 border-b"><%= book.title %></td>
          <td class="py-2 px-4 border-b"><%= book.borrowed_at.strftime("%d-%m-%Y") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-6">
    <%= button_to 'Назад', books_path, class: 'px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600' %>
  </div>
</div>